[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/AutoFenc.vim"]
	path = bundle/AutoFenc.vim
	url = https://github.com/vim-scripts/AutoFenc.vim.git
[submodule "bundle/wmgraphviz.vim"]
	path = bundle/wmgraphviz.vim
	url = https://github.com/wannesm/wmgraphviz.vim.git
[submodule "bundle/LargeFile"]
	path = bundle/LargeFile
	url = https://github.com/vim-scripts/LargeFile.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/Shareboard"]
	path = bundle/Shareboard
	url = https://github.com/pavel-vodrazka/Shareboard.git
[submodule "bundle/shareboard.vim"]
	path = bundle/shareboard.vim
	url = https://github.com/pavel-vodrazka/shareboard.vim.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-web-indent"]
	path = bundle/vim-web-indent
	url = https://github.com/lukaszb/vim-web-indent.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "bundle/SearchComplete"]
	path = bundle/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/R-Vim-runtime"]
	path = bundle/R-Vim-runtime
	url = https://github.com/jalvesaq/R-Vim-runtime.git
[submodule "bundle/calendar.vim"]
	path = bundle/calendar.vim
	url = https://github.com/itchyny/calendar.vim.git
